.button {
    width: 100%;
    background: darkblue;
    color: white;
    border: none;
    padding: .9375rem 1.875rem;
    cursor: pointer;
}

.button:disabled {
    background: #888;
    cursor: not-allowed;
}